.card-container {
    display: flex;
    flex-direction: column;
    background-color: #3bc1b1;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 23px;
    cursor: pointer;
    -moz-osx-font-smoothing:grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.23s ease-out;

}
.card-container  :hover {
    transform: scale(1.05);
}